DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_DATABASE=postgres
DB_HOST=localhost

SECRET_KEY=secret
ALGORITHM=HS256

COOKIE_SECURE=false
COOKIE_SAMESITE=Lax

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7